.service-container .card {
    width: 19.25rem;
    height: 23.6875rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    border: 1px solid #F2F2F2;
    background: #FFF;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.service-container h4 {
    width: 10.4375rem;
    font-size: 1.4rem;
    font-weight: 550;
    margin: 2rem;
}



.service-container .card-text {
    width: 15.3125rem;
    line-height: 140%;
}

.service-icon-container {
    width: 7.5625rem;
    height: 7.5625rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #F1F7FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-icon-gold-color {
    background: #FFF7E3;

}


.service-icon {
    width: 4.625rem;
    height: 4.625rem;
    flex-shrink: 0;

}


.service-container-first-col-elem {
    width: 11.125rem;
    height: 11.125rem;
    flex-shrink: 0;
    border-radius: 6.25rem 0rem 0rem 0rem;
    background: #FFF5DB;
    position: absolute;
    translate: 0rem -16rem;
    z-index: -1;
}

.service-container-second-col-elem1 {
    width: 65.4375rem;
    height: 38.6875rem;
    flex-shrink: 0;
    border-radius: 9.375rem 0rem 0rem 0rem;
    background: #F4F9FF;
    position: absolute;
    translate: -43rem 10rem;
    z-index: -1;
}

.service-container-second-col-elem2 {
    width: 7.5rem;
    height: 7.5rem;
    flex-shrink: 0;
    stroke-width: 8.8px;
    stroke: #FF007A;
    position: absolute;
    translate: 5rem 45rem;
    z-index: -2;
}

@media(min-width:767px) and (max-width:900px) {

    .service-container .card {
        width: 13rem;
        height: 17rem;

    }


    .service-container h4 {
        width: 8rem;
        font-size: 1rem;
    }


    .service-container .card-text {
        width: 11.5rem;
        line-height: 110%;
        font-size: 0.78rem;
    }

    .service-icon-container {
        width: 4rem;
        height: 4rem;
    }


    .service-icon {
        width: 2.4rem;
        height: 2.4rem;

    }

}

@media(max-width:1000px) {
    .service-container-first-col-elem {
        display: none;
    }

    .service-container-second-col-elem1 {
        display: none;
    }

    .service-container-second-col-elem2 {
        display: none;
    }
}


@media(min-width:901px) and (max-width:1300px) {

    .service-container .card {
        width: 15rem;
        height: 19rem;

    }


    .service-container h4 {
        width: 10rem;
        font-size: 1.2rem;
    }


    .service-container .card-text {
        width: 14rem;
        line-height: 130%;
        font-size: 0.9rem;
    }

    .service-icon-container {
        width: 4.6rem;
        height: 4.6rem;
    }


    .service-icon {
        width: 2.4rem;
        height: 2.4rem;

    }

    .service-container-first-col-elem {
        width: 9rem;
        height: 9rem;
        translate: -1.5rem -18.5rem;
    }

    .service-container-second-col-elem1 {
        width: 46rem;
        height: 32rem;
        translate: -30rem 8rem;
    }

    .service-container-second-col-elem2 {
        translate: 2rem 36rem;
    }

}



@media(min-width:300px) and (max-width:350px) {
    .services-card-container {
        margin-left: -2.35rem;
    }
}

@media(min-width:360px) and (max-width:399px) {
    .services-card-container {
        margin-left: -0.1rem;
    }
}


@media(min-width:900px) and (max-width:1000px) {

    .service-container .card {
        width: 13.5rem;
        height: 18rem;

    }

    .service-container .card-text {
        width: 12rem;
        line-height: 130%;
        font-size: 0.8rem;
    }
}