.clients-review-container .client-above-para {
    font-size: 1.125rem;
    line-height: 1.8rem;
}

.client-img-container {
    padding: 0;
}

/* for dynamic style */
.client-img {
    width: 18rem;
    height: 18rem;
    flex-shrink: 0;
    border-radius: 31.25rem 31.25rem 31.25rem 31.25rem;
    box-shadow: 15px 20px 50px 0px rgba(0, 0, 0, 0.20);
}

/*  */

.client-defaultt-img {
    width: 18rem;
    height: 18rem;
    flex-shrink: 0;
    border-radius: 31.25rem 0rem 31.25rem 31.25rem;
    box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
}


.client-progress-svg-container {
    margin-bottom: -0.5rem;
}

.client-progress-svg-container svg {
    margin: 0.1rem;
}



.client-img-icon-container {
    position: relative;
    aspect-ratio: 1 / 1;
}

.client-img-icon-container img {
    position: absolute;
}



.client-img-icon-container .active {
    transform: scale(1.2);
}

.client-img-icon8 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.client-img-icon1 {
    top: 16%;
    left: 13%;
}

.client-img-icon2 {
    top: 13%;
    left: 45%;
}

.client-img-icon3 {
    top: 27%;
    left: 68%;
}

.client-img-icon4 {
    top: 48%;
    left: 70%;
}

.client-img-icon5 {
    top: 67%;
    left: 58%;
}

.client-img-icon6 {
    top: 67%;
    left: 25%;
}

.client-img-icon7 {
    top: 47%;
    left: 10%;
}

.client-big-img-elem {
    width: 7.5rem;
    height: 7.5rem;
    flex-shrink: 0;
    stroke-width: 8.8px;
    stroke: #FF007A;
    position: absolute;
    z-index: -1;
    translate: -22rem 14rem;
}

.client-img-elem {
    width: 11.5rem;
    height: 11.5rem;
    flex-shrink: 0;
    fill: #FFF5DB;
    position: absolute;
    z-index: 0;
    translate: 2.5rem 7.5rem;
}

@media(max-width:1430px) {
    .client-big-img-elem {
        width: 5.5rem;
        height: 5.5rem;
        translate: -13.7rem 8.8rem;
    }

    .client-img-elem {
        width: 9rem;
        height: 9rem;
    }

}


@media (min-width:300px) and (max-width:370px) {
    .client-big-img-elem {
        width: 4rem;
        height: 4rem;
        translate: -13rem 8.8rem;
    }

    .client-img {
        width: 13rem;
        height: 13rem;
        margin-left: 3.5rem;
    }

    .client-img-icon {
        width: 20%;
    }

    .client-img-icon8 {
        width: 30%;
    }

    .client-progress-svg-container {
        text-align: center;
    }
}

@media (min-width:375px) and (max-width:425px) {

    .client-big-img-elem {
        width: 4.7rem;
        height: 4.7rem;
        translate: -13.2rem 8.5rem;
    }

    .client-img {
        width: 13rem;
        height: 13rem;
        margin-left: 2.3rem;
    }

    .client-img-container {
        padding: 0 3rem;
    }

    .client-progress-svg-container {
        text-align: center;
    }
}


@media (min-width:768px) and (max-width:1040px) {


    .client-img {
        width: 13rem;
        height: 13rem;
    }

    /* for dynamic style */

    .client-defaultt-img {
        width: 14rem;
        height: 14rem;
    }

    /*  */

    .client-img-icon {
        width: 20%;
    }

    .client-img-icon8 {
        width: 32%;
    }

    .client-progress-svg-container span {
        padding: 0.5rem;
    }

    .client-big-img-elem {
        width: 5rem;
        height: 5rem;
        translate: -13.5rem 8.5rem;
    }

    .client-img-elem {
        width: 7rem;
        height: 7rem;
        translate: 2rem 5rem;

    }

}

@media (min-width:1200px) {

    .client-defaultt-img {
        width: 24.3125rem;
        height: 24.3125rem;
    }

    /* 
    Dynamic style  
     */
    .client-img {
        width: 20rem;
        height: 20rem;
    }

    /*  */
}





