.clients-review-container .client-above-para {
    font-size: 1.125rem;
    line-height: 1.8rem;
}


.clinet-img {
    width: 24.3125rem;
    height: 24.3125rem;
    flex-shrink: 0;
    background: #FEFEFE;
    border-radius: 31.25rem 0rem 31.25rem 31.25rem;
    box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
}

.clinets-svg-container {
    margin-top: 2rem;
    text-align: center;
}

.clinets-svg-container span {
    padding: 0.8rem;
}



.client-img-icon-container {
    position: relative;
    aspect-ratio: 1 / 1;
}

.client-img-icon-container img {
    position: absolute;
}

.client-img-icon8 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.client-img-icon1 {
    top: 16%;
    left: 13%;
}

.client-img-icon2 {
    top: 13%;
    left: 45%;
}

.client-img-icon3 {
    top: 27%;
    left: 68%;
}

.client-img-icon4 {
    top: 48%;
    left: 70%;
}

.client-img-icon5 {
    top: 67%;
    left: 58%;
}

.client-img-icon6 {
    top: 67%;
    left: 25%;
}

.client-img-icon7 {
    top: 47%;
    left: 10%;
}