.clients-review-container .client-above-para {
    font-size: 1.125rem;
    line-height: 1.8rem;
}

.clinet-img-container {
    padding: 0;
}

.clinet-img {
    width: 18rem;
    height: 18rem;
    flex-shrink: 0;
    background: #FEFEFE;
    border-radius: 31.25rem 0rem 31.25rem 31.25rem;
    box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
}

.clinets-svg-container {
    margin-top: 2rem;

}

.clinets-svg-container span {
    padding: 0.8rem;
}



.client-img-icon-container {
    position: relative;
    aspect-ratio: 1 / 1;
}

.client-img-icon-container img {
    position: absolute;
}

.client-img-icon8 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.client-img-icon1 {
    top: 16%;
    left: 13%;
}

.client-img-icon2 {
    top: 13%;
    left: 45%;
}

.client-img-icon3 {
    top: 27%;
    left: 68%;
}

.client-img-icon4 {
    top: 48%;
    left: 70%;
}

.client-img-icon5 {
    top: 67%;
    left: 58%;
}

.client-img-icon6 {
    top: 67%;
    left: 25%;
}

.client-img-icon7 {
    top: 47%;
    left: 10%;
}


@media (min-width:300px) and (max-width:370px) {

    .client-img-icon {
        width: 20%;
    }

    .client-img-icon8 {
        width: 30%;
    }
}

@media (min-width:375px) and (max-width:425px) {
    .clinet-img-container {
        padding: 0 3rem;
    }

    .clinets-svg-container {
        text-align: center;
    }
}


@media (min-width:768px) {


    .clinet-img {
        width: 15rem;
        height: 15rem;
    }

    .client-img-icon {
        width: 20%;
    }

    .client-img-icon8 {
        width: 32%;
    }

    .clinets-svg-container span {
        padding: 0.5rem;
    }


}

@media (min-width:1200px) {


    .clinet-img {
        width: 24.3125rem;
        height: 24.3125rem;
    }

}