.header-A-text {
    color: #000;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Header-studio-text {
    color: #000;
    font-family: Noto Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media(min-width: 1024px) {
    .header-A-text {
        font-size: 1.69669rem;
    }
    
    .Header-studio-text {
        font-size: 1.69669rem;
    }
}