.header-A-text {
    color: #000;
    font-family: Montserrat;
    font-size: 1.69669rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Header-studio-text {
    color: #000;
    font-family: Noto Sans;
    font-size: 1.69669rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
