.hero-para {
    width: clamp(15rem, 100%, 29.4375rem);
}

.hero-img {
    width: clamp(18rem, 100%, 47.125rem);
    height: clamp(12rem, 100%, 32rem);
    flex-shrink: 0;
}

/* Sanll elements */

.hero-container {
    background: url("../../../public/assets/Dot.png");
    background-repeat: no-repeat;
    background-position: left 6rem bottom 1rem;
}

.hero-bg-elem1 {
    position: absolute;
    translate: -48.5rem -0.5rem;
    z-index: -1;

}

.hero-bg-elem2 {
    width: 11.125rem;
    height: 11.125rem;
    flex-shrink: 0;
    border-radius: 0rem 0rem 6.25rem 0rem;
    background: #FFF5DB;
    position: absolute;
    translate: -14rem 24rem;
    z-index: -1;
}

@media (max-width: 1435px) {
    .hero-container {
        background-position: left 3rem bottom -5rem;
    }

    .hero-bg-elem1 {
        translate: -34.5rem -0.5rem;

    }

    .hero-bg-elem2 {
        translate: -14rem 13.5rem;
    }
}

@media (max-width: 1020px) {
    .hero-container {
        background-position: left 3rem bottom -6rem;
    }

    .hero-bg-elem1 {
        translate: -25.5rem -0.5rem;

    }

    .hero-bg-elem2 {
        translate: -14rem 7rem;
    }
}



@media (max-width: 767px) {
    .hero-bg-elem1 {
        display: none;
    }

    .hero-bg-elem2 {
        display: none;
    }

}


@media(min-width:900px) and (max-width:1000px) {
    .hero-para {
        width: 20rem;
        margin-left: 5rem;
    }

    .hero-img {
        width: 23rem;
        height: clamp(12rem, 100%, 32rem);
        flex-shrink: 0;
    }

    .hero-container h3 {
        margin-left: 5rem;

    }

    .hero-container .btn {
        margin-left: 5rem;

    }
}