.footer-container ul {
    list-style: none;
    padding: 0;
    color: #000;
    font-size: 0.875rem;
    line-height: 1.75rem;
}

.footer-container p {
    color: #565656;
    font-size: 0.875rem;
    line-height: 1.4rem;
    width: 17.875rem;
}

.social-media-icon{
    padding: .5rem;
}