.Footer-A-text {
    color: #000;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 700;
}

.Footer-studio-text {
    color: #000;
    font-family: Noto Sans;
    font-size: 1.3rem;
    font-weight: 400;
}

.footer-container ul {
    list-style: none;
    padding: 0;
    color: #000;
    font-size: 0.875rem;
    line-height: 1.75rem;
}

.footer-container p {
    color: #565656;
    font-size: 0.875rem;
    line-height: 1.4rem;
    width: 17.875rem;
}

.copyright-text {
    font-size: small;
}

.social-media-icon {
    padding: .5rem;
    width: 2.25rem;
    height: 2.25rem;
}


@media (width:768px) {

    .footer-container p {
        font-size: 0.85rem;
        line-height: 1.3rem;
        width: 13rem;
    }
}