body {
    padding-top: 4rem;
}

h3 {
    color: #000;
    font-family: Noto Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4 {
    color: #000;
    font-family: Averta Demo PE Cutted Demo;
    font-size: 1rem;
    font-weight: 600;
}

p {
    color: #565656;
    font-family: Noto Sans;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3rem;
}


@media(min-width:1024px) {
    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.6rem;

    }
}